<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>南京市</key>
	<dict>
		<key>玄武区</key>
		<array>
			<string>梅园新村街道</string>
			<string>新街口街道</string>
			<string>玄武门街道</string>
			<string>后宰门街道</string>
			<string>锁金村街道</string>
			<string>红山街道</string>
			<string>孝陵卫街道</string>
			<string>玄武湖街道</string>
		</array>
		<key>白下区</key>
		<array>
			<string>五老村街道</string>
			<string>淮海路街道</string>
			<string>健康路街道</string>
			<string>洪武路街道</string>
			<string>大光路街道</string>
			<string>瑞金路街道</string>
			<string>苜蓿园街道</string>
			<string>光华路街道</string>
			<string>朝天宫街道</string>
			<string>止马营街道</string>
		</array>
		<key>秦淮区</key>
		<array>
			<string>秦虹街道</string>
			<string>夫子庙街道</string>
			<string>红花街道</string>
			<string>双塘街道</string>
			<string>中华门街道</string>
		</array>
		<key>建邺区</key>
		<array>
			<string>滨湖街道</string>
			<string>沙洲街道</string>
			<string>双闸街道</string>
			<string>江心洲街道</string>
			<string>南湖街道</string>
			<string>兴隆街道</string>
			<string>南苑街道</string>
		</array>
		<key>鼓楼区</key>
		<array>
			<string>宁海路街道</string>
			<string>华侨路街道</string>
			<string>湖南路街道</string>
			<string>中央门街道</string>
			<string>挹江门街道</string>
			<string>江东街道</string>
			<string>莫愁街道</string>
		</array>
		<key>下关区</key>
		<array>
			<string>阅江楼街道</string>
			<string>热河南路街道</string>
			<string>幕府山街道</string>
			<string>建宁路街道</string>
			<string>宝塔桥街道</string>
			<string>小市街道</string>
		</array>
		<key>浦口区</key>
		<array>
			<string>泰山街道</string>
			<string>顶山街道</string>
			<string>沿江街道</string>
			<string>江浦街道</string>
			<string>桥林街道</string>
			<string>汤泉街道</string>
			<string>盘城街道</string>
			<string>星甸街道</string>
			<string>永宁街道</string>
		</array>
		<key>栖霞区</key>
		<array>
			<string>尧化街道</string>
			<string>马群街道</string>
			<string>迈皋桥街道</string>
			<string>燕子矶街道</string>
			<string>栖霞街道</string>
			<string>龙潭街道</string>
			<string>仙林街道</string>
			<string>八卦洲街道</string>
			<string>西岗街道</string>
		</array>
		<key>雨花台区</key>
		<array>
			<string>雨花街道</string>
			<string>赛虹桥街道</string>
			<string>西善桥街道</string>
			<string>板桥街道</string>
			<string>铁心桥街道</string>
			<string>梅山街道</string>
		</array>
		<key>江宁区</key>
		<array>
			<string>东山街道</string>
			<string>秣陵街道</string>
			<string>汤山街道</string>
			<string>淳化街道</string>
			<string>禄口街道</string>
			<string>江宁街道</string>
			<string>谷里街道</string>
			<string>湖熟街道</string>
			<string>横溪街道</string>
			<string>麒麟街道</string>
		</array>
		<key>六合区</key>
		<array>
			<string>大厂街道</string>
			<string>葛塘街道</string>
			<string>长芦街道</string>
			<string>雄州街道</string>
			<string>龙池街道</string>
			<string>程桥街道</string>
			<string>金牛湖街道</string>
			<string>横梁街道</string>
			<string>龙袍街道</string>
			<string>马鞍街道</string>
			<string>冶山街道</string>
			<string>竹镇镇</string>
		</array>
		<key>溧水县</key>
		<array>
			<string>永阳街道</string>
			<string>柘塘街道</string>
			<string>白马镇</string>
			<string>东屏镇</string>
			<string>石湫镇</string>
			<string>洪蓝镇</string>
			<string>晶桥镇</string>
			<string>和凤镇</string>
		</array>
		<key>高淳县</key>
		<array>
			<string>淳溪街道</string>
			<string>古柏街道</string>
			<string>阳江镇</string>
			<string>砖墙镇</string>
			<string>漆桥镇</string>
			<string>固城镇</string>
			<string>东坝镇</string>
			<string>桠溪镇</string>
		</array>
	</dict>
	<key>兰州市</key>
	<dict>
		<key>城关区</key>
		<array>
			<string>酒泉路街道</string>
			<string>张掖路街道</string>
			<string>雁南街道</string>
			<string>临夏路街道</string>
			<string>雁北街道</string>
			<string>五泉街道</string>
			<string>白银路街道</string>
			<string>皋兰路街道</string>
			<string>广武门街道</string>
			<string>伏龙坪街道</string>
			<string>靖远路街道</string>
			<string>草场街街道</string>
			<string>火车站街道</string>
			<string>拱星墩街道</string>
			<string>东岗街道</string>
			<string>团结新村街道</string>
			<string>东岗西路街道</string>
			<string>铁路东村街道</string>
			<string>铁路西村街道</string>
			<string>渭源路街道</string>
			<string>盐场路街道</string>
			<string>嘉峪关路街道</string>
			<string>焦家湾街道</string>
			<string>青白石街道</string>
		</array>
		<key>七里河区</key>
		<array>
			<string>西园街道</string>
			<string>西湖街道</string>
			<string>建兰路街道</string>
			<string>敦煌路街道</string>
			<string>西站街道</string>
			<string>晏家坪街道</string>
			<string>龚家湾街道</string>
			<string>土门墩街道</string>
			<string>秀川街道</string>
			<string>阿干镇</string>
			<string>八里镇</string>
			<string>彭家坪镇</string>
			<string>西果园镇</string>
			<string>魏岭乡</string>
			<string>黄峪乡</string>
		</array>
		<key>西固区</key>
		<array>
			<string>陈坪街道</string>
			<string>先锋路街道</string>
			<string>福利路街道</string>
			<string>西固城街道</string>
			<string>四季青街道</string>
			<string>临洮街街道</string>
			<string>西柳沟街道</string>
			<string>新城镇</string>
			<string>东川镇</string>
			<string>河口镇</string>
			<string>达川乡</string>
			<string>柳泉乡</string>
			<string>金沟乡</string>
		</array>
		<key>安宁区</key>
		<array>
			<string>培黎街道</string>
			<string>西路街道</string>
			<string>沙井驿街道</string>
			<string>十里店街道</string>
			<string>孔家崖街道</string>
			<string>银滩路街道</string>
			<string>刘家堡街道</string>
			<string>安宁堡街道</string>
		</array>
		<key>红古区</key>
		<array>
			<string>窑街街道</string>
			<string>下窑街道</string>
			<string>矿区街道</string>
			<string>海石湾镇</string>
			<string>花庄镇</string>
			<string>平安镇</string>
			<string>红古镇</string>
		</array>
		<key>永登县</key>
		<array>
			<string>城关镇</string>
			<string>红城镇</string>
			<string>中堡镇</string>
			<string>武胜驿镇</string>
			<string>河桥镇</string>
			<string>连城镇</string>
			<string>苦水镇</string>
			<string>大同镇</string>
			<string>龙泉寺镇</string>
			<string>树屏镇</string>
			<string>上川镇</string>
			<string>柳树乡</string>
			<string>坪城乡</string>
			<string>民乐乡</string>
			<string>通远乡</string>
			<string>七山乡</string>
		</array>
		<key>皋兰县</key>
		<array>
			<string>石洞镇</string>
			<string>忠和镇</string>
			<string>什川镇</string>
			<string>九合镇</string>
			<string>水阜镇</string>
			<string>黑石镇</string>
		</array>
		<key>榆中县</key>
		<array>
			<string>城关镇</string>
			<string>夏官营镇</string>
			<string>高崖镇</string>
			<string>金崖镇</string>
			<string>和平镇</string>
			<string>甘草店镇</string>
			<string>青城镇</string>
			<string>定远镇</string>
			<string>来紫堡乡</string>
			<string>三角城乡</string>
			<string>小康营乡</string>
			<string>连搭乡</string>
			<string>银山乡</string>
			<string>马坡乡</string>
			<string>新营乡</string>
			<string>清水驿乡</string>
			<string>龙泉乡</string>
			<string>韦营乡</string>
			<string>中连川乡</string>
			<string>贡井乡</string>
			<string>园子岔乡</string>
			<string>上花岔乡</string>
			<string>哈岘乡</string>
		</array>
	</dict>
	<key>沈阳市</key>
	<dict>
		<key>和平区</key>
		<array>
			<string>浑河湾街道</string>
			<string>新华街道</string>
			<string>西塔街道</string>
			<string>八经街道</string>
			<string>马路湾街道</string>
			<string>集贤街道</string>
			<string>南湖街道</string>
			<string>长白街道</string>
			<string>太原街街道</string>
			<string>北市场街道</string>
			<string>南市场街道</string>
			<string>沈水湾街道</string>
			<string>浑河站西街道</string>
		</array>
		<key>沈河区</key>
		<array>
			<string>大西街道</string>
			<string>滨河街道</string>
			<string>万莲街道</string>
			<string>大南街道</string>
			<string>山东庙街道</string>
			<string>朱剪炉街道</string>
			<string>新北站街道</string>
			<string>风雨坛街道</string>
			<string>皇城街道</string>
			<string>五里河街道</string>
			<string>南塔街道</string>
			<string>泉园街道</string>
			<string>丰乐街道</string>
			<string>马官桥街道</string>
			<string>东陵街道</string>
		</array>
		<key>大东区</key>
		<array>
			<string>大北街道</string>
			<string>万泉街道</string>
			<string>洮昌街道</string>
			<string>文官街道</string>
			<string>二台子街道</string>
			<string>津桥街道</string>
			<string>东站街道</string>
			<string>北海街道</string>
			<string>长安街道</string>
			<string>新东街道</string>
			<string>东塔街道</string>
			<string>小东街道</string>
			<string>上园街道</string>
			<string>前进街道</string>
		</array>
		<key>皇姑区</key>
		<array>
			<string>三台子街道</string>
			<string>辽河街道</string>
			<string>黄河街道</string>
			<string>三洞桥街道</string>
			<string>华山街道</string>
			<string>寿泉街道</string>
			<string>塔湾街道</string>
			<string>明廉街道</string>
			<string>新乐街道</string>
			<string>舍利塔街道</string>
			<string>北塔街道</string>
			<string>陵东街道</string>
		</array>
		<key>铁西区</key>
		<array>
			<string>昆明湖街道</string>
			<string>工人村街道</string>
			<string>七路街道</string>
			<string>启工街道</string>
			<string>笃工街道</string>
			<string>兴华街道</string>
			<string>兴工街道</string>
			<string>霁虹街道</string>
			<string>凌空街道</string>
			<string>重工街道</string>
			<string>艳粉街道</string>
			<string>保工街道</string>
			<string>兴顺街道</string>
			<string>贵和街道</string>
			<string>大青中朝友谊街道</string>
			<string>翟家街道</string>
			<string>西三环街道</string>
			<string>大潘街道</string>
			<string>彭驿站街道</string>
			<string>高花街道</string>
		</array>
		<key>苏家屯区</key>
		<array>
			<string>解放街道</string>
			<string>民主街道</string>
			<string>临湖街道</string>
			<string>中兴街道</string>
			<string>湖西街道</string>
			<string>八一街道</string>
			<string>红菱街道</string>
			<string>林盛街道</string>
			<string>沙河街道</string>
			<string>十里河街道</string>
			<string>陈相街道</string>
			<string>姚千街道</string>
			<string>王纲街道</string>
			<string>永乐街道</string>
			<string>大沟街道</string>
			<string>白清街道</string>
			<string>佟沟街道</string>
		</array>
		<key>东陵区</key>
		<array>
			<string>英达街道</string>
			<string>东湖街道</string>
			<string>五三街道</string>
			<string>浑河站东街道</string>
			<string>高坎街道</string>
			<string>满堂街道</string>
			<string>深井子街道</string>
			<string>祝家街道</string>
			<string>白塔街道</string>
			<string>桃仙街道</string>
			<string>李相街道</string>
			<string>营城子街道</string>
			<string>汪家街道</string>
			<string>王滨街道</string>
			<string>望滨街道</string>
		</array>
		<key>沈北新区</key>
		<array>
			<string>新城子街道</string>
			<string>清水台街道</string>
			<string>辉山街道</string>
			<string>道义街道</string>
			<string>虎石台街道</string>
			<string>财落街道</string>
			<string>沈北街道</string>
			<string>马刚街道</string>
			<string>石佛寺街道</string>
			<string>黄家街道</string>
			<string>尹家街道</string>
			<string>兴隆台街道</string>
			<string>清泉街道</string>
		</array>
		<key>于洪区</key>
		<array>
			<string>迎宾路街道</string>
			<string>陵西街道</string>
			<string>于洪街道</string>
			<string>北陵街道</string>
			<string>沙岭街道</string>
			<string>南阳湖街道</string>
			<string>城东湖街道</string>
			<string>平罗街道</string>
			<string>马三家街道</string>
			<string>造化街道</string>
			<string>大兴街道</string>
			<string>光辉街道</string>
		</array>
		<key>辽中县</key>
		<array>
			<string>蒲西街道</string>
			<string>蒲东街道</string>
			<string>于家房镇</string>
			<string>朱家房镇</string>
			<string>冷子堡镇</string>
			<string>刘二堡镇</string>
			<string>茨榆坨镇</string>
			<string>新民屯镇</string>
			<string>满都户镇</string>
			<string>杨士岗镇</string>
			<string>肖寨门镇</string>
			<string>长滩镇</string>
			<string>四方台镇</string>
			<string>城郊镇</string>
			<string>六间房镇</string>
			<string>养士堡镇</string>
			<string>潘家堡镇</string>
			<string>老大房镇</string>
			<string>大黑岗子镇</string>
			<string>牛心坨镇</string>
		</array>
		<key>康平县</key>
		<array>
			<string>北三家子街道</string>
			<string>胜利街道</string>
			<string>东关街道</string>
			<string>小城子镇</string>
			<string>张强镇</string>
			<string>方家屯镇</string>
			<string>郝官屯镇</string>
			<string>二牛所口镇</string>
			<string>北四家子乡</string>
			<string>两家子乡</string>
			<string>海洲窝堡乡</string>
			<string>沙金台蒙古族满族乡</string>
			<string>柳树屯蒙古族满族乡</string>
			<string>西关屯蒙古族满族乡</string>
			<string>东升满族蒙古族乡</string>
		</array>
		<key>法库县</key>
		<array>
			<string>法库镇</string>
			<string>大孤家子镇</string>
			<string>三面船镇</string>
			<string>秀水河子镇</string>
			<string>叶茂台镇</string>
			<string>登仕堡子镇</string>
			<string>柏家沟镇</string>
			<string>丁家房镇</string>
			<string>孟家镇</string>
			<string>十间房镇</string>
			<string>冯贝堡镇</string>
			<string>依牛堡子镇</string>
			<string>五台子镇</string>
			<string>包家屯镇</string>
			<string>慈恩寺乡</string>
			<string>和平乡</string>
			<string>四家子蒙古族乡</string>
			<string>双台子乡</string>
			<string>卧牛石乡</string>
		</array>
		<key>新民市</key>
		<array>
			<string>东城街道</string>
			<string>辽滨街道</string>
			<string>西城街道</string>
			<string>新柳街道</string>
			<string>新城街道</string>
			<string>大红旗镇</string>
			<string>梁山镇</string>
			<string>公主屯镇</string>
			<string>兴隆镇</string>
			<string>前当堡镇</string>
			<string>大民屯镇</string>
			<string>大柳屯镇</string>
			<string>兴隆堡镇</string>
			<string>胡台镇</string>
			<string>法哈牛镇</string>
			<string>柳河沟镇</string>
			<string>高台子镇</string>
			<string>张家屯镇</string>
			<string>罗家房镇</string>
			<string>三道岗子镇</string>
			<string>东蛇山子镇</string>
			<string>陶家屯镇</string>
			<string>周坨子镇</string>
			<string>金五台子乡</string>
			<string>红旗乡</string>
			<string>卢家屯乡</string>
			<string>姚堡乡</string>
			<string>于家窝堡乡</string>
			<string>新农乡</string>
		</array>
	</dict>
	<key>上海市</key>
	<dict>
		<key>黄浦区</key>
		<array>
			<string>南京东路街道</string>
			<string>外滩街道</string>
			<string>半淞园路街道</string>
			<string>小东门街道</string>
			<string>豫园街道</string>
			<string>老西门街道</string>
			<string>五里桥街道</string>
			<string>打浦桥街道</string>
			<string>淮海中路街道</string>
			<string>瑞金二路街道</string>
		</array>
		<key>徐汇区</key>
		<array>
			<string>天平路街道</string>
			<string>湖南路街道</string>
			<string>斜土路街道</string>
			<string>枫林路街道</string>
			<string>长桥街道</string>
			<string>田林街道</string>
			<string>虹梅路街道</string>
			<string>康健新村街道</string>
			<string>徐家汇街道</string>
			<string>凌云路街道</string>
			<string>龙华街道</string>
			<string>漕河泾街道</string>
			<string>华泾镇</string>
		</array>
		<key>长宁区</key>
		<array>
			<string>华阳路街道</string>
			<string>江苏路街道</string>
			<string>新华路街道</string>
			<string>周家桥街道</string>
			<string>天山路街道</string>
			<string>仙霞新村街道</string>
			<string>虹桥街道</string>
			<string>程家桥街道</string>
			<string>北新泾街道</string>
			<string>新泾镇</string>
		</array>
		<key>静安区</key>
		<array>
			<string>江宁路街道</string>
			<string>石门二路街道</string>
			<string>南京西路街道</string>
			<string>静安寺街道</string>
			<string>曹家渡街道</string>
		</array>
		<key>普陀区</key>
		<array>
			<string>曹杨新村街道</string>
			<string>长风新村街道</string>
			<string>长寿路街道</string>
			<string>甘泉路街道</string>
			<string>石泉路街道</string>
			<string>宜川路街道</string>
			<string>万里街道</string>
			<string>真如镇街道</string>
			<string>长征镇</string>
			<string>桃浦镇</string>
		</array>
		<key>虹口区</key>
		<array>
			<string>天目西路街道</string>
			<string>北站街道</string>
			<string>宝山路街道</string>
			<string>共和新路街道</string>
			<string>大宁路街道</string>
			<string>彭浦新村街道</string>
			<string>临汾路街道</string>
			<string>芷江西路街道</string>
			<string>彭浦镇</string>
		</array>
		<key>杨浦区</key>
		<array>
			<string>欧阳路街道</string>
			<string>曲阳路街道</string>
			<string>广中路街道</string>
			<string>嘉兴路街道</string>
			<string>凉城新村街道</string>
			<string>四川北路街道</string>
			<string>提篮桥街道</string>
			<string>江湾镇街道</string>
		</array>
		<key>闵行区</key>
		<array>
			<string>定海路街道</string>
			<string>平凉路街道</string>
			<string>江浦路街道</string>
			<string>四平路街道</string>
			<string>控江路街道</string>
			<string>长白新村街道</string>
			<string>延吉新村街道</string>
			<string>殷行街道</string>
			<string>大桥街道</string>
			<string>五角场街道</string>
			<string>新江湾城街道</string>
			<string>五角场镇</string>
		</array>
		<key>宝山区</key>
		<array>
			<string>江川路街道</string>
			<string>古美街道</string>
			<string>新虹街道</string>
			<string>浦锦街道</string>
			<string>莘庄镇</string>
			<string>七宝镇</string>
			<string>颛桥镇</string>
			<string>华漕镇</string>
			<string>虹桥镇</string>
			<string>梅陇镇</string>
			<string>吴泾镇</string>
			<string>马桥镇</string>
			<string>浦江镇</string>
		</array>
		<key>嘉定区</key>
		<array>
			<string>友谊路街道</string>
			<string>吴淞街道</string>
			<string>张庙街道</string>
			<string>罗店镇</string>
			<string>大场镇</string>
			<string>杨行镇</string>
			<string>月浦镇</string>
			<string>罗泾镇</string>
			<string>顾村镇</string>
			<string>高境镇</string>
			<string>庙行镇</string>
			<string>淞南镇</string>
		</array>
		<key>浦东新区</key>
		<array>
			<string>新成路街道</string>
			<string>真新街道</string>
			<string>菊园新区管委会</string>
			<string>嘉定镇街道</string>
			<string>南翔镇</string>
			<string>安亭镇</string>
			<string>马陆镇</string>
			<string>徐行镇</string>
			<string>华亭镇</string>
			<string>外冈镇</string>
			<string>江桥镇</string>
		</array>
		<key>金山区</key>
		<array>
			<string>潍坊新村街道</string>
			<string>陆家嘴街道</string>
			<string>周家渡街道</string>
			<string>塘桥街道</string>
			<string>上钢新村街道</string>
			<string>南码头路街道</string>
			<string>沪东新村街道</string>
			<string>金杨新村街道</string>
			<string>洋泾街道</string>
			<string>浦兴路街道</string>
			<string>东明路街道</string>
			<string>花木街道</string>
			<string>川沙新镇</string>
			<string>高桥镇</string>
			<string>北蔡镇</string>
			<string>合庆镇</string>
			<string>唐镇</string>
			<string>曹路镇</string>
			<string>金桥镇</string>
			<string>高行镇</string>
			<string>高东镇</string>
			<string>张江镇</string>
			<string>三林镇</string>
			<string>惠南镇</string>
			<string>周浦镇</string>
			<string>新场镇</string>
			<string>大团镇</string>
			<string>康桥镇</string>
			<string>航头镇</string>
			<string>祝桥镇</string>
			<string>泥城镇</string>
			<string>宣桥镇</string>
			<string>书院镇</string>
			<string>万祥镇</string>
			<string>老港镇</string>
			<string>南汇新城镇</string>
		</array>
		<key>松江区</key>
		<array>
			<string>石化街道</string>
			<string>朱泾镇</string>
			<string>枫泾镇</string>
			<string>张堰镇</string>
			<string>亭林镇</string>
			<string>吕巷镇</string>
			<string>廊下镇</string>
			<string>金山卫镇</string>
			<string>漕泾镇</string>
			<string>山阳镇</string>
		</array>
		<key>青浦区</key>
		<array>
			<string>岳阳街道</string>
			<string>永丰街道</string>
			<string>方松街道</string>
			<string>中山街道</string>
			<string>广富林街道</string>
			<string>九里亭街道</string>
			<string>泗泾镇</string>
			<string>佘山镇</string>
			<string>车墩镇</string>
			<string>新桥镇</string>
			<string>洞泾镇</string>
			<string>九亭镇</string>
			<string>泖港镇</string>
			<string>石湖荡镇</string>
			<string>新浜镇</string>
			<string>叶榭镇</string>
			<string>小昆山镇</string>
		</array>
		<key>奉贤区</key>
		<array>
			<string>夏阳街道</string>
			<string>盈浦街道</string>
			<string>香花桥街道</string>
			<string>朱家角镇</string>
			<string>练塘镇</string>
			<string>金泽镇</string>
			<string>赵巷镇</string>
			<string>徐泾镇</string>
			<string>华新镇</string>
			<string>重固镇</string>
			<string>白鹤镇</string>
		</array>
		<key>崇明区</key>
		<array>
			<string>南桥镇</string>
			<string>奉城镇</string>
			<string>庄行镇</string>
			<string>金汇镇</string>
			<string>四团镇</string>
			<string>青村镇</string>
			<string>柘林镇</string>
			<string>海湾镇</string>
		</array>
	</dict>
</dict>
</plist>
